## Chapter 2: Machine Learning

Chapter 1 provided an overview of some of the emerging trends in the industry around Big Data and Artificial Intelligence. We talked about software getting smarter with the application of Artificial Intelligence. In this chapter, we specif- ically focus on the most popular AI technique for infusing smarts into software - Machine Learning (ML). We see examples of using ML to capture patterns in data and capture these patterns in artifacts called models. We see the three types of ML techniques and discuss applications of each. Finally, in this chapter we review some code examples of building ML models from simple datasets. The code is highly commented, so you can start your own Colaboratory or Jupyter Notebook environment and run the code.

In [1]:
# Pandas is my favourite tool for Data loading and munging
import pandas as pd

# Read a csv file from data folder and show the records
features = pd.read_csv('data/house.price.csv')
features.head(10)

   Area  Locality  Price
0   100         4     30
1   250         5     80
2   220         5     80
3   105         6     40
4   260         6     60
5   150         8    100
6   180         9    120
7   225         4     60
8    95         5     40
9   160         9    110

In [2]:
# We will use the K-Means algorithm
from sklearn.cluster import KMeans

# We will only consider 2 features and see if we get a pattern
cluster_Xs = features[['Area', 'Locality']]

# How many clusters we want to find
NUM_CLUSTERS = 3

# Build the K Means Clusters model
model = KMeans(n_clusters=NUM_CLUSTERS)
model.fit(cluster_Xs)

# Predict and get cluster labels - 0, 1, 2 ... NUM_CLUSTERS
predictions = model.predict(cluster_Xs)

# Add predictions to the features data frame
features['cluster'] = predictions

features.head(10)

   Area  Locality  Price  cluster
0   100         4     30        2
1   250         5     80        1
2   220         5     80        1
3   105         6     40        2
4   260         6     60        1
5   150         8    100        0
6   180         9    120        0
7   225         4     60        1
8    95         5     40        2
9   160         9    110        0

In [3]:
features_sorted = features.sort_values('cluster')
features_sorted

   Area  Locality  Price  cluster
5   150         8    100        0
6   180         9    120        0
9   160         9    110        0
1   250         5     80        1
2   220         5     80        1
4   260         6     60        1
7   225         4     60        1
0   100         4     30        2
3   105         6     40        2
8    95         5     40        2

In [4]:
# Pandas is my favourite tool for Data loading and munging
import pandas as pd

# Read a csv file and show the records
features = pd.read_csv('data/house.price.csv')
features.head(10)

   Area  Locality  Price
0   100         4     30
1   250         5     80
2   220         5     80
3   105         6     40
4   260         6     60
5   150         8    100
6   180         9    120
7   225         4     60
8    95         5     40
9   160         9    110

In [5]:
# Seperate first 8 points as Validation set (0-7)
X_train = features[["Area","Locality"]].values[:8]
Y_train = features["Price"].values[:8]
# Seperate last 2 points as Validation set (0-7)
X_test = features[["Area","Locality"]].values[8:]
Y_test = features["Price"].values[8:]

In [6]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, Y_train)
print("Model weights are: ", model.coef_)
print("Model interceot is: ", model.intercept_)

Model weights are:  [ 0.20370091 13.56708023]
Model interceot is:  -46.39589056258242

/Users/dattarajrao/tensorflow/tf18/lib/python3.6/site-packages/sklearn/linear_model/base.py:509: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  linalg.lstsq(X, y)

In [7]:
# Predict for one point from Test set
print('Predicting for ', X_test[0])
print('Expected value ', Y_test[0])
print('Predicted value ', model.predict([[95,5]]))

Predicting for  [95  5]
Expected value  40
Predicted value  [40.79109689]

In [8]:
# Pandas is my favourite tool for Data loading and munging
import pandas as pd

# Read a csv file and show the records
features = pd.read_csv('data/house.sale.csv')
features.head(10)

   Area  Locality  Price  Buy
0   100         4     30    0
1   250         5     80    1
2   220         5     80    1
3   105         6     40    1
4   150         8    100    0
5   180         9    120    0
6   225         4     60    0
7    95         5     40    1
8   260         6     60    1
9   160         9    110    0

In [9]:
# Seperate first 8 points as Validation set (0-7)
X_train = features[["Area","Locality","Price"]].values[:8]
Y_train = features["Buy"].values[:8]
# Seperate last 2 points as Validation set (0-7)
X_test = features[["Area","Locality","Price"]].values[8:]
Y_test = features["Buy"].values[8:]

In [10]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, Y_train)

# make a prediction on test data
Y_pred = model.predict(X_test)

# print expected results
print(Y_test)
# print the predictions
print(Y_pred)

[1 0]
[1 0]

In [11]:
from sklearn.metrics import confusion_matrix

confusion_matrix = confusion_matrix(Y_test, Y_pred)
print(confusion_matrix)

[[1 0]
 [0 1]]

In [12]:
from sklearn.neural_network import MLPClassifier

model = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(2, 1))
model.fit(X_train, Y_train)
Y_pred = model.predict(X_test)
print(Y_test)
print(Y_pred)

[coef.shape for coef in model.coefs_]

[1 0]
[1 0]

[(3, 2), (2, 1), (1, 1)]